<% include ../partials/header.ejs %>

<!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1><%= title %></h1>
          <hr>
          <button type="button"><i class="fa fa-plus" aria-hidden="true"></i>New Poll</button>
          <hr>
          <ul>
           <li><a href="http://www.google.com" style="text-decoration: none">What is your favorite programming language</a></li>
            <li><a href="http://www.google.com" style="text-decoration: none">What is your favorite sport team</li>
            <li><a href="http://www.google.com" style="text-decoration: none">What is your favorite Game</a></li>
          </ul>
        </div>
      </div>
    </div>
<% include ../partials/footer.ejs %>
